ALLOWED_HOSTS=
BANK_CODE=
BANK_NAME=
BASE_CURRENCY=
DATABASE_ENGINE=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
DEBUG=
DEFAULT_TRANSACTION_LIMIT=
FD_ANNUAL_INTEREST_RATE=
GEMINI_API_KEY=
MINIMUM_CURRENT_BALANCE=
MINIMUM_SAVINGS_BALANCE=
RD_ANNUAL_INTEREST_RATE=
SECRET_KEY=